.recipe-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .health-label {
    margin-right: 5px;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  .favorite-btn {
    border: none;
    cursor: pointer;
  }
  
  .favorite-btn i {
    color: #ccc;
    font-size: 20px;
    background-color: blue;
  }
  
  .favorite-btn i.checked {
    color: gold; /* or any color you prefer */
  }
  .fa fa-star checked{
    background-color: orange;

  }
  fa fa-star {
    color: blue;
  }